name: '{{ NODE }}'
listen-peer-urls: 'http://0.0.0.0:2380'
listen-client-urls: 'http://0.0.0.0:2379'
initial-advertise-peer-urls: 'http://{{ NODE }}:2380'
advertise-client-urls: 'http://{{ NODE }}:2379'
initial-cluster: '{{ ETCD_INITIAL_CLUSTER }}'
{#initial-cluster-state: 'new'#}
{#initial-cluster-token: '{{ CLUSTER }}'#}
log-outputs: 'stdout'
log-level: 'ETDC_LOG_LEVEL'